services:
  # ส่วนของ Web Server
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  # ส่วนของ Database (MySQL)
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: sale_system
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"

  # ส่วนของหน้าจัดการ Database (phpMyAdmin)
  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db